
.rad:hover{
    text-align: center;
    border: #030CE5 2px solid !important; 
    width: 100px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.rad1{
    text-align: center;
    border: #B973B2 2px solid !important; 
    width: 100px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.logo {
    border: #B973B2 3px solid !important;
    width: 100px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.navbar{
  background-color: #0D1961;
}

body {
    background: url('../img/k8.jpg') no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif !important;
    height: 90vh;
}

.title {
    text-align: center;
    /* background: linear-gradient(0.25turn, rgb(99, 206, 85, 0.7), rgb(245, 226, 226, 0.7), rgb(219, 66, 66, 0.7)); */
}

.title span {
    font-size: 80px;
    background: rgba(110, 187, 228, 0.664);
    color:#0D1961;
    border: solid 3px #B973B2;
    border-radius: 10px;
}
.container {
    color: #6EBBE4;
    text-align: center;
}

.row {
    text-align: center;
}

.jumbotron-fluid {
    border-radius: 20px !important;
}

footer {
    text-align: center;
    color: #fff;
    background-color: #0D1961;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 1px;
}

.right {
    float: right;
}

.left {
    text-align: left !important;
}

.marg {
    margin-top: -15px;
    margin-bottom: 30px;
}

.footer-font {
    color: inherit !important;
    text-decoration: none !important;
}

.footer-font:hover {
    color: #B973B2 !important;
}

.list-group:hover {
    color: #E9CD9A !important;
}

.espace {
    margin-top: 20px;
}

.color-social {
    color: white !important;
}

.nav-link {
    color: gray
}

.mr-bot{
    margin-bottom: 10px;
}

/*Responsive Smartphone*/

@media only screen and (min-width:320px) and (max-width: 760px) {
    .container {
        width: 100%
    }

    footer {
        position: relative;
        padding-bottom: 1px;
    }
    .jumbotron-fluid {
        width: 93% !important;
    }
}

@media only screen and (min-width: 760px) and (max-width: 1280px) {
    .container {
        width: 100%
    }


    footer {
        position: absolute;
        padding-bottom: 1px;
    }

}
