img {
    border: white 2px solid !important;
    width: 450px;
    height: 330px;
}

footer {
    position: relative !important;
}

/*Responsive Smartphone*/

@media only screen and (max-width: 760px) {
    .gap {
        padding-bottom: 20px;
    }

    footer {
        position: relative;
        padding-bottom: 1px;
    }

    img {
        width: 100%
    }

}

@media only screen and (min-width: 760px) and (max-width: 1280px) {
    .gap {
        padding-bottom: 20px;
    }

    footer {
        position: relative;
        padding-bottom: 1px;
    }

    img {
        width: 100%
    }

}

img {
    margin-right: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: white 2px solid;
}

.color-nav {
    background-color: rgb(52, 58, 64);
    margin-right: 5px;
}